/*全部集中*/
.block{
    display: block;
}
.ml79{
    margin-left: 79px;
}
*{
    color: #3F5D45;
    font-family: "PingFang TC" sans-serif;
}
img{
    display: block;
}
a{text-decoration: none;}
.contain{
    max-width: 940px;
    margin: 0 auto;
}

/*navigation*/
.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img{
    width: 172px;
}

.navigation ul{
    display: flex;
    font-size: 16px;
}
.navigation li{
    margin-left: 60px;
}
.navigation li a{
    display: block;
    margin: -10px;
    padding: 10px;
}
.navigation li a:hover{
    background:#EAF0ED;
}

/*menu*/
.menu{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
/*sideNav*/
.sideNav{
    width: 300px;
}
.sideNav h2{
    background: #3F5D45;
    color: #EAF0ED;
}
.sideNav h2,.sideNav a{
    text-align: center;
    font-size: 24px;
    display: block;
    padding: 16px;
}
.sideNav a{
    border: 1px solid #EAF0ED;
    border-top: 0px solid #EAF0ED;
}
.sideNav a:hover{
    background: #EAF0ED;
}
/*commodity-lis*/
.commodity-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
}
.commodity{
    width: 300px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}
.commodity-title{
    position: absolute;
    font-size: 16px;
    letter-spacing: 5px;
    padding: 10px;
    background: #3F5D45;
    color: #EAF0ED;
    left: 20px;
    writing-mode: vertical-lr;
}
.commodity-love{
    position: absolute;
    margin-top: 16px;
    margin-left: 256px;
}
.commodity-name{
    font-size: 20px;
    padding: 14px 33px;
}
.commodity-name span{
    margin-left: 58px;
    font-weight: bold;
}
.commodity-buy{
    background: #EAF0ED;
    display: block;
    font-size: 24px;
    padding: 16px 90px;
}
.commodity-buy:hover{
    background: #3F5D45;
    color: #EAF0ED;
}

/*pagination*/
.pagination{
    display: flex;
    justify-content: flex-end;
}
.pagination li{
    width: 60px;
    line-height: 60px;
    font-size: 20px;
    border: #EAF0ED 1px solid;
    text-align: center;
    margin-left: -1px;
}